@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
  color: #333333;
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 93vh;
  flex-direction: column;
  width: 60vw;
  background-color: coral;
  margin: 0 auto;
  padding-left: 10vw;
}

.fetch-div {
  padding-right: 15%;
}

h1 {
  color: rgb(27, 90, 207);
}

nav {
  background-color: cornflowerblue;
  display: flex;
  width: 100vw;
  overflow: hidden;
  position: relative;
  top: 0;
  right: 25vw;
}

nav a {
  font-size: 1.2em; 
  margin: 10px;
  color: white;
  text-decoration: none;
  transition: text-decoration 1s ease;
}

nav a:hover {
  text-decoration: underline;

}

.portrait {
  width: 28%;
  border-radius: 5px;
}

#footer {
  width: 100vw;
  border-top: 1px solid black;
  color: rgb(128, 128, 128);
  font-size: .8em;
}

footer h4 {
  margin-left: 5%;
}

input {
  padding: 3px;
  border: 1px solid #cccccc;
  font-size: 1.1em;
}

button {
  cursor: pointer;
  padding: 5px;
  top: 1px;
  font-size: .9em;
  border-radius: 2px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, .5)
}